.detail-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.img-and-title {
    width: 35%;
    margin-right: 10%;
}

.img-and-title > h2 {
    margin-bottom: 1.2rem;
    font-size: 1.2rem;
}

.img-and-title > img {
    width: 100%;
    object-fit: cover;
}

.img-and-title > button {
    margin-top: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #313131;
    background: white;
    border: 2px solid rgba(0, 0, 0, 0.9);
    border-radius: 100px;
    width: 80px;
    height: 50px;
}

.img-and-title > button > img {
    height: 30px;
}

.img-and-title > .activeTab {
    background: linear-gradient(35deg, #dd3657, #DC143C);
    color: white;
}

.info {
    width: 60%;
}

.info > button {
    font-family: 'Montserrat', sans-serif;
    padding: 1rem 2rem;
    color: #313131;
    background: white;
    border: 1px solid black;
    margin-right: 2rem;
    font-weight: 600;
}

.info > .activeTab {
    background: linear-gradient(35deg, #7b7b7bbe, #505050be);
    color: white;
}

.info > div > h3 {
    font-size: 0.8rem;
    margin-top: 1.4rem;
}

.info > ul {
    margin-top: 1.4rem;
}


.info > ul > li {
    font-size: 0.8rem;
    font-weight: 600;
    line-height: 1.5rem;
}